<div class="row comf text-center my-3 title-banner-text" >
  <div class="col-sm-12">
    Select Your Store
  </div>
  <div class="col-sm-12 mb-3 text-small">
    Select your default store location. You can always change this later.
  </div>
</div>

<div class="row comf text-center my-3 subtitle-banner-text" >
  <div class="col-sm-12">
    Available store locations:
  </div>
</div>

<div class="row comf text-center my-3" >
  <div class="col-sm-12">
    <a [routerLink]="['/', 'stores', 'create']">I am a new store owner, please let me create my own store.</a>
  </div>
</div>
