<mat-card class="">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>Store Name</mat-card-title>
    <mat-card-subtitle>Hanover, MD</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      Address, Hours of Operation
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>Make this my store</button>
  </mat-card-actions>
</mat-card>
