<mat-toolbar class="app-toolbar app-header">
  <button mat-icon-button color="primary" (click)="onMenuClick()"
    class="mat-elevation-z0" [@rotate]="leftNavMenuState">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="d-flex" (click)="onLogoClick()" [@tada]="swingState">
    <a [routerLink]="'/'" class="">
      <img src="assets/images/banner/banner-tea.png" [@headShake]="logoShakeState"
        class="logo-img d-inline-block" alt="logo">
      <div class="comf banner-text">{{ headerTitle }}</div>
    </a>
  </div>

  <div class="d-flex">
    <button mat-icon-button color="primary" [matBadge]="cartItemsCount" class="mat-elevation-z0"
      matBadgePosition="before" matBadgeColor="accent" (click)="onCartClick()"
      [matBadgeHidden]="cartItemsCount<1">
        <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
      <mat-icon>{{userMenuIcon}}</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let item of userMenuItems" mat-menu-item (click)="onMenuItemClick(item)">
        <mat-icon>{{item.iconName}}</mat-icon>
        <span>{{item.display}}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
