<div class="roboto">
  <div *ngIf="!this.ofs.formValid" class="alert alert-danger">
    <p>Oops! You are missing a few things:</p>
    <ul>
      <li *ngFor="let err of this.ofs.fgErrorMsgs">
        {{err}}
      </li>
    </ul>
    <span *ngIf="showTakeMeThere" class="nav-back" (click)="onFixGoBack()">Take me there.</span>
  </div>

  <mat-form-field class="name-field mb-3" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Your display name" [value]="this.userFc.value | userDisplay"
      readonly disabled>
    <mat-icon matSuffix class="icon-mat-success">done</mat-icon>
    <mat-hint>This is your display name (it can be updated under your profile).</mat-hint>
  </mat-form-field>

</div>
