<div class="container">
  <div class="row mt-2 mb-2 border-b">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="onNewOrder()">New order</button>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <nav mat-tab-nav-bar [backgroundColor]="undefined">
        <a mat-tab-link *ngFor="let link of tabLinks"
          (click)="activeLink = link"
          [active]="activeLink == link"
          [routerLink]="[link.url]">
            {{link.display}}
            {{link === activeLink ? (this.fds.currentOrdersCount | countNumberDisplay) :'' }}
        </a>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
