::ng-deep .mat-tab-links {
  justify-content: space-around;
}

a.mat-tab-link {
  width: 50%;
}

a.mat-tab-link.mat-focus-indicator.mat-tab-label-active {
  font-weight: 800;
  color: #000;
  opacity: 0.9;
}
