<div class="container mb-3">
  <div class="deals-banner mt-2">
    <app-shared-ad-banner [ads]="ads"></app-shared-ad-banner>
  </div>
  <hr>
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <button class="btn btn-outline-primary" (click)="onNewOrder()">New order</button>
    </div>
  </div>
  <hr>

  <div *ngIf="this.as.appAuthHasLoaded" class="row mb-2">
    <div class="col-sm-12">
      <nav mat-tab-nav-bar [backgroundColor]="undefined">
        <a mat-tab-link *ngFor="let link of tabLinks"
          (click)="activeLink = link"
          [active]="activeLink == link"
          [routerLink]="[link.url]">
            {{link.display}}
            {{link === activeLink ? (this.fds.currentOrdersCount | countNumberDisplay) :'' }}
        </a>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
