.app-container {
  position: absolute;
  top: 70px;
  bottom: 43px;
  left: 0;
  right: 0;
}

.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(218, 220, 224);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
  background-color: #fff;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
  font-size: 12px;
  height: 40px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.logo-img {
  height: 35px;
}

.banner-text {
  display: inline-block;
  vertical-align: sub;
}
