<mat-horizontal-stepper [linear]="isStepperLinear" #stepper [labelPosition]="labelPosition"
  [formGroup]="this.ofs.orderFg">

  <mat-step [stepControl]="drinkSeriesFc" errorMessage="Drink series required">
    <ng-template matStepLabel >
      <div title="Pick a drink series">Series</div>
    </ng-template>
    <app-shared-order-form-series-desc [seriesCtrl]="this.drinkSeriesFc">
    </app-shared-order-form-series-desc>
    <hr>
    <div>
      <button mat-stroked-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="drinkNameFc" errorMessage="Drink type required">
      <ng-template title="Pick a drink" matStepLabel>Drink</ng-template>
    <app-shared-order-form-drink-desc [drinkNameCtrl]="drinkNameFc" [seriesSelection]="currentDrinkSeries">
    </app-shared-order-form-drink-desc>
    <hr>
    <div>
      <button mat-stroked-button color="primary" class="mr-1" matStepperPrevious>Back</button>
      <button mat-stroked-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="drinkSettingsFg" errorMessage="Sugar & ice level required">
    <ng-template title="Pick drink settings" matStepLabel>Size / Sugar / Ice</ng-template>
    <app-shared-order-form-settings-desc [settingsFg]="drinkSettingsFg">
    </app-shared-order-form-settings-desc>
    <hr>
    <div>
      <button mat-stroked-button color="primary" class="mr-1" matStepperPrevious>Back</button>
      <button mat-stroked-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="drinkToppingsFa">
    <ng-template title="Pick drink settings" matStepLabel>Toppings</ng-template>
    <app-shared-order-form-topping-desc [toppingFa]="drinkToppingsFa"></app-shared-order-form-topping-desc>
    <hr>
    <div>
      <button mat-stroked-button color="primary" class="mr-1" matStepperPrevious>Back</button>
      <button mat-stroked-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="userFc" errorMessage="User name required">
    <ng-template matStepLabel>Confirmation</ng-template>
    <app-shared-order-form-confirm-desc [userFc]="userFc"
      (fixGoBack)="onFixGoBack($event)"></app-shared-order-form-confirm-desc>
    <hr>
    <div class="d-flex">
      <button mat-stroked-button matStepperPrevious class="mr-1">Back</button>
      <button mat-flat-button (click)="onOrderSubmit()" class="mr-4 order-submit" color="primary"
        [disabled]="this.ofs.orderFg && this.ofs.orderFg.invalid">Finish
      </button>
      <mat-checkbox color="primary" formControlName="isFavorite"
        class="fav-check">Save as favorite</mat-checkbox>
    </div>
  </mat-step>

</mat-horizontal-stepper>
