<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 text-center mb-3">
      <div class="detail-label solid-underline mb-2">
        Drink:
      </div>
      <div class="icon-img-parent mb-1">
        <img [src]="iconUrl" class="img-h-100" alt="tea icon">
      </div>
      <div>
        {{ size }} {{ name }}
      </div>
    </div>

    <div class="col-sm-4 text-center mb-3">
      <div class="detail-label solid-underline mb-2">
        Settings:
      </div>
      <div>
        <div class="setting-parent mb-2">
          <img [src]="iceIconSrcUrl" class="img-h-100 mr-1" alt="ice icon">
          {{ iceLevel }}
        </div>
        <div class="setting-parent">
          <img [src]="sugarIconSrcUrl" class="img-h-100 mr-1" alt="sugar icon">
          {{ sugarLevel }}
        </div>
      </div>
    </div>

    <div class="col-sm-4 text-center mb-3">
      <div class="detail-label solid-underline mb-2">
        Toppings:
      </div>
      <ng-container *ngIf="(toppings && toppings.length > 0); else noToppings">
        <div *ngFor="let topping of toppings" class="mb-1">
          <div class="topping-img-parent mb-1">
            <img [src]="topping.name | toppingUrl" class="img-h-100" alt="topping icon">
          </div>
          <div>
            {{ topping.display }}
          </div>
        </div>
      </ng-container>
      <ng-template #noToppings>
        <div>
          None
        </div>
      </ng-template>

    </div>
  </div>
</div>
