.icon-img {
  height: 25px;
}

.icon-img-parent {
  display: flex;
  align-self: center;
}

.icon-img-text {
  display: flex;
  align-self: end;
}

@media screen and (max-width: 600px) {
  /* start of phone styles */
  .icon-img-text {
    max-height: 40px;
    display: flex;
    align-self: end;
  }
}
