.profile-img-parent {
  height: 15rem;
}

.border-circ {

}

.is-mobile {
  display: flex;
  justify-content: center !important;
  margin-bottom: 15px;
}

.profile-pic {
  display: flex;
  justify-content: flex-end;
}

.vlabel {
  color: #000;
  font-weight: 800;
}

