<div class="row mt-3 mb-5">
  <div class="col-sm-12">
    <div class="center-align">
      Account Overview
    </div>
  </div>
</div>

<div class="row" *ngIf="!authLoading; else loading">
  <div class="col-sm-12 col-md-6 profile-pic" [class.is-mobile]="this.ims.mediaQList.matches">
    <div class="profile-img-parent">
      <img class="img-h-100"
        [src]="user.photoURL ? user.photoURL : defaultAvartarImgSrc">
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="vlabel">Display name:</div>
        <div>
          {{user.displayName ? user.displayName : 'Not entered'}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="vlabel">Email:</div>
        <div>
          {{user.email}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="vlabel">Last login:</div>
        <div>
          {{user.lastLoginAt | dateDisplay:'FULLANDFROMNOW'}}
        </div>
      </div>
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-sm-3">
          <label >Access Token</label>
          <input type="text" class="form-control"
            [value]="user.stsTokenManager.accessToken" readonly>
        </div>
        <div class="form-group col-sm-9">
          <label >Token Expire Time</label>
          <input type="text" class="form-control"
            [value]="user.stsTokenManager.expirationTime | dateDisplay:'FULLANDFROMNOW'" readonly>
        </div>
      </div>
    </form>
  </div>
</div>


<ng-template #loading>
  <app-shared-loading></app-shared-loading>
</ng-template>
