.order-label {
  font-size: 1.3rem;
  color: #000;
  font-weight: 800;
}

.float-right {
  justify-content: flex-end;
}

.cart-subtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bg-parent {
  display: flex;
  height: 50rem;
  justify-content: center;
  overflow: hidden;
  opacity: 0.3;
}

.banner-text {
  font-size: 1.5rem;
  font-weight: 800;
}
