.order-label {
  font-size: 1.3rem;
  color: #000;
  font-weight: 800;
}

.float-right {
  justify-content: flex-end;
}

.cart-subtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
