<div class="comf">
  <h1 mat-dialog-title>Add an Alias</h1>
  <p class="roboto">
    This alias will be attached to your account only. You can have multiple aliases.
  </p>
  <div mat-dialog-content>
    <form [formGroup]="userFg">
      <div class="input-ff mb-3">
        <mat-form-field appearance="outline" >
          <mat-label>Alias name</mat-label>
          <input matInput placeholder="John Doe" [formControlName]="'userName'">
          <mat-icon matSuffix>face</mat-icon>
          <mat-hint>Enter name</mat-hint>
          <mat-error>Name is required.</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button color="primary" class="mr-2"
      (click)="onCancel()">Cancel</button>

    <button mat-flat-button color="primary"
      (click)="onSubmit()" [disabled]="userFg.invalid">Submit</button>
  </div>
</div>

