.order-label {
  font-size: 1rem;
  color: #737373;
  text-decoration: underline;
  font-weight: 800;
}

.order-info {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

.customer-name {
  color: #000;
  font-weight: 700;
}
