/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto:100,400,700&display=swap');

body {
  /* margin: 0;  */
  font-family: 'Comfortaa', cursive;
}

button {
  font-family: 'Comfortaa', cursive !important;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.if {
  font-family: 'Indie Flower', cursive;
}

.comf {
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}
