<div class="container mb-3" *ngIf="!authLoading; else loading">
  <div class="deals-banner mt-2">
    <app-shared-ad-banner [ads]="ads"></app-shared-ad-banner>
  </div>
  <hr>
  <app-notification-banner [loginRequired]="true" [showBreak]="true"
    [customMsg]="bannerMsg"></app-notification-banner>
  <div class="row mb-2">
    <div class="col-sm-12 d-flex order-nav-group">
      <button (click)="goToNew()" class="btn btn-outline-primary mr-2">Start new order</button>
      <a [routerLink]="['all']" class="btn btn-outline-info">My cart</a>
    </div>
  </div>
  <hr>

  <router-outlet></router-outlet>
</div>

<ng-template #loading>
  <app-shared-loading></app-shared-loading>
</ng-template>
