<div class="row">
  <div class="col-sm-12">
    <app-order-new-create-fav-list [favItems]="favItems" *ngIf="favItems.length > 0"
      (onFavSelect)="onFavSelect($event)"></app-order-new-create-fav-list>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="order-label mb-3 double-underline comf center-align">
      Current order
    </div>
  </div>
</div>
<div class="row" *ngIf="drinkOrder">
  <div class="col-sm-12">
    <app-shared-order-form [drinkOrder]="drinkOrder"></app-shared-order-form>
  </div>
</div>

