<div class="row comf text-center mb-3 mt-3 home-banner-text">
  <div class="col">
    {{homeBannerText}}
  </div>
</div>

<div class="row text-center comf mb-3">
  <div class="col">
    {{homeBannerSub}}
  </div>
</div>

<div class="row text-center comf mb-3">
  <div class="col">
    See your<a [routerLink]="['open-orders']"> current orders</a>
    , or your <a [routerLink]="['completed-orders']">past orders.</a>
  </div>
</div>

<div class="home-landing-parent">
  <img [src]="bgUrl" class="img-h-100 b-r-10" alt="home bg">
</div>
